* {
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: #f6f8f9;
    font-size: 16px;
}
h1 {
    font-size: 2.2em;
    font-family: 'Rubik' , sans-serif;
    font-weight: 500;
    line-height: 1;    
}   
h2 {

}
.main-title {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.3rem;
}
.site-header {
    padding: 15px 0 15px 15px;
    background-color: white;
}

.site-header span img {
    vertical-align: middle;
    
}
.full-width {
    width: 100%;
}
.container {
    max-width: 80vw;
    margin: 40px auto 10px auto;
    background-color: white;

}
.main-content-container {
    
    
}
.button-holder {
    border-bottom: 1px solid #f6f8f9;
    
    
}
.buttons {
    padding: 15px 0 10px 40px;
}
.button-task {
    background-color: #47adf1;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 0.8rem;

}
.button-task:hover {
    background-color: #ffffff;
    color: #47adf1;
    border: 1px solid #47adf1;
}
.button-section {
    background-color: white;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    color: #d8d8d8;
    padding: 5px 10px;
    text-align: center;
    font-size: 0.8rem;

}
.button-section:hover {
    background-color: black;
    color: white;
    border: none;
}
