* {
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: #f6f8f9;
    font-size: 16px;
}
h1 {
    font-size: 2.2em;
    font-family: 'Rubik' , sans-serif;
    font-weight: 500;
    line-height: 1;    
}   
h2 {

}
.main-title {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.3rem;
}
.site-header {
    padding: 15px 0 15px 15px;
    background-color: white;
}

.site-header span img {
    vertical-align: middle;
    
}
.full-width {
    width: 100%;
}
.container {
    max-width: 80vw;
    margin: 20px auto 10px auto;
    background-color: white;

}
.main-content-container {
    
    
}
